/* AdminPage.css */
.admin-container {
    display: flex;
    color: black;
    height: 100vh;
    background-color: white;
  }
  
  .content {
    margin-left: 300px;
    padding: 20px;
    flex-grow: 1;
  }
h2{
  color: black;
}
  