.assign-questions-container {
    padding: 20px;
  }
  
  .assign-questions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .assign-questions-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .assign-questions-button:hover {
    background-color: #45a049;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modall {
    background: white;
    padding: 20px;
    display: inline;
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }
  .modall TextField{
    margin: 2px;
    margin-bottom: 10px;
  }
  
  .modall Button {
    margin: 2px;
    margin-bottom: 6px;
    width: 300px;
  }
  .modall .text{
    margin: 2px;
    /* height: 100px; */
    margin-bottom: 6px;
    width: 300px;
  }
  